{% extends "educacao/index.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block bibliotecas %}
    <link rel="stylesheet" type="text/css" href="{% static 'choosen/chosen_v1.8.7/chosen.min.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'choosen/chosen_v1.8.7/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
{% endblock %}


{% block barra_horizontal %}
    <li>
        <input type="submit" form="formulario_questao_lista" role="button" class="btn btn-primary botao-barra-horizontal" value="Salvar">
    </li>

    <li>
        <a href="{% url 'educacao:adicionar_anexo_onde' "resposta" questao_avaliacao.id %}" class="btn btn-warning botao-barra-horizontal">
            Adicionar anexo
        </a>
    </li>

    {% if questao_anterior %}
    <li>
        <a href="{% url 'educacao:responder_questao_da_avaliacao' questao_anterior.id avaliacao.id %}" class="btn btn-success botao-barra-horizontal">
            Questão anterior
        </a>
    </li>
    {% endif %}

    {% if proxima_questao %}
    <li>
        <a href="{% url 'educacao:responder_questao_da_avaliacao' proxima_questao.id avaliacao.id %}" class="btn btn-success botao-barra-horizontal">
            Próxima questão
        </a>
    </li>
    {% endif %}
{% endblock %}


{% block corpo_pagina %}
<div class="container-fluid bg-light rounded-top">
    <h2 style="margin-top: 10px">
        {{ avaliacao.titulo }}
        de {{ avaliacao.disciplina.sigla }} ({{ avaliacao.disciplina.turma }})
    </h2>

    <div class="card cartao">
        <h5 class="card-header cartao-titulo">
            Questão {{ questao_avaliacao.numero }} / {{ questao_avaliacao.avaliacao.numero_questoes }}
        </h5>
        <div class="card-body">
            {{ questao_avaliacao.questao.enunciado|safe }}
        </div>
    </div>

    <form id="formulario_questao_lista" method="post" enctype="multipart/form-data" class="formulario sem-asterisco">
        {% csrf_token %}

        {% if questao.tipo == questao.TIPO_DISSERATIVA %}

            {{ formset_respostas|crispy }}

            {% if formset_respostas.instance.id in ids_respostas_com_anexo %}
                <p style="margin-top: 10px">
                    Anexos:
                </p>

                <ul class="list-group">
                {% for anexo in anexos %}
                    {% if anexo.resposta.id == formset_respostas.instance.id %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="text">
                            {% if anexo.tipo == anexo.TIPO_IMAGEM %}
                                <img src="{% static 'icones/imagem.svg' %}" width="40px" class="mr-3 img-thumbnail">
                            {% elif anexo.tipo == anexo.TIPO_CODIGO_FONTE %}
                                <img src="{% static 'icones/codigo.svg' %}" width="40px" class="mr-3 img-thumbnail">
                            {% elif anexo.tipo == anexo.TIPO_DOCUMENTO %}
                                <img src="{% static 'icones/documento.svg' %}" width="40px" class="mr-3 img-thumbnail">
                            {% elif anexo.tipo == anexo.TIPO_OUTROS %}
                                <img src="{% static 'icones/caixa.svg' %}" width="40px" class="mr-3 img-thumbnail">
                            {% endif %}
                            <a href="{{ anexo.arquivo.url }}">{{ anexo.nome_arquivo }}</a>
                            </div>
                            <a href="{% url 'educacao:remover_anexo_onde' 'resposta' anexo.id %}" class="btn btn-outline-danger botao-barra-horizontal">
                                Remover
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}

        {% elif questao.tipo == questao.TIPO_VERDADEIRO_FALSO %}
            {{ formset_respostas.management_form }}
            {% for form in formset_respostas %}
                {% with form.instance.alternativa as alternativa %}
                    <div class="card cartao">
                        <h5 class="card-header cartao-titulo">
                            {{ alternativa.codigo }})
                        </h5>
                        <div class="card-body">
                            {{ alternativa.enunciado|safe }}
                            {{ form.resposta|as_crispy_field }}
                        </div>

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {% if form.instance.id in ids_respostas_com_anexo %}
                            <div class="card-footer">
                                <p>Anexos:</p>
                                <ul class="list-group">
                                {% for anexo in anexos %}
                                    {% if anexo.resposta.id == form.instance.id %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="text">
                                            {% if anexo.tipo == anexo.TIPO_IMAGEM %}
                                                <img src="{% static 'icones/imagem.svg' %}" width="40px" class="mr-3 img-thumbnail">
                                            {% elif anexo.tipo == anexo.TIPO_CODIGO_FONTE %}
                                                <img src="{% static 'icones/codigo.svg' %}" width="40px" class="mr-3 img-thumbnail">
                                            {% elif anexo.tipo == anexo.TIPO_DOCUMENTO %}
                                                <img src="{% static 'icones/documento.svg' %}" width="40px" class="mr-3 img-thumbnail">
                                            {% elif anexo.tipo == anexo.TIPO_OUTROS %}
                                                <img src="{% static 'icones/caixa.svg' %}" width="40px" class="mr-3 img-thumbnail">
                                            {% endif %}
                                            <a href="{{ anexo.arquivo.url }}">{{ anexo.nome_arquivo }}</a>
                                            </div>
                                            <a href="{% url 'educacao:remover_anexo_onde' 'resposta' anexo.id %}" class="btn btn-outline-danger botao-barra-horizontal">
                                                Remover
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endwith %}
            {% endfor %}

        {% endif %}


    </form>
</div>

{% endblock %}


{% block javascript %}

{% endblock %}
