{% extends "educacao/index.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block bibliotecas %}
    <link rel="stylesheet" type="text/css" href="{% static 'choosen/chosen_v1.8.7/chosen.min.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'choosen/chosen_v1.8.7/chosen.jquery.min.js' %}"></script>

    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.1.min.js"></script>
{% endblock %}


{% block barra_horizontal %}
    <a href="{% url 'educacao:ver_execucao' experimento.id execucao.id %}" class="btn btn-warning botao-barra-horizontal">
        Voltar
    </a>
{% endblock %}


{% block corpo_pagina %}
    <div class="card cartao">
        <h5 class="card-header cartao-titulo">
{#            <img src="{{ relatorio.disciplina.icone.url }}">#}
            Gráfico do experimento
        </h5>

        <div class="card-body">
            {{ script | safe }}
            {{ div | safe }}
        </div>
    </div>






{% endblock %}




{% block javascript %}
{% endblock %}

