{% extends "educacao/index.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block barra_horizontal %}
    {% with lista.aula as aula %}
    <h3 class="text-light">Entregas da {{ avaliacao.titulo }} ({{ avaliacao.disciplina.sigla }})</h3>
    {% endwith %}
{% endblock %}


{% block bibliotecas %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/educacao.css' %}">
    <script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
{% endblock %}


{% block corpo_pagina %}

        <table class="tabela-lista" id="tabela-listas">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Aluno</th>
                    <th>Nota (%)</th>
                    <th>Dias de atraso</th>
                    <th>Nota final</th>
                </tr>
            </thead>
            <tbody>
            {% for entrega in entregas %}
            <tr>
                <td>
                    <a href="{% url 'educacao:corrigir_avaliacao_aluno' avaliacao.id entrega.aluno.id %}" data-toggle="tooltip" data-placement="bottom" title="Corrigir">
                        <img src="{% static 'icones/check_pb.svg' %}" alt="Resolver">
                    </a>
                </td>
                <td>{{ entrega.aluno.usuario_django.first_name }} ({{ entrega.aluno.prontuario }})</td>
                <td>{{ entrega.nota.nota|floatformat:1 }}</td>
                <td>{{ entrega.dias_de_atraso }}</td>
                <td>{{ entrega.nota_final|floatformat:1 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}





{% block javascript %}
{% endblock %}

