{% extends "educacao/index.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block barra_horizontal %}
    {% with lista.aula as aula %}
    <h3 class="text-light">Série de exercícios da aula {{ aula.numero }} ({{ aula.disciplina.sigla }})</h3>
    {% endwith %}
{% endblock %}


{% block bibliotecas %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/educacao.css' %}">
    <script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
{% endblock %}


{% block corpo_pagina %}
    {% for questao in questoes %}
        <div class="card cartao">
            <h5 class="card-header cartao-titulo">
                Questão {{ questao.questao.numero }}
            </h5>
            <div class="card-body">
                {{ questao.questao.questao.enunciado|safe }}

                {% for resposta in questao.respostas %}
                    <div class="card cartao">
                        <h5 class="card-header cartao-titulo">
                            {% if resposta.resposta == resposta.resposta_correta %}
                                <img src="{% static 'icones/certo.svg' %}" width="30px">
                            {% else %}
                                <img src="{% static 'icones/errado.svg' %}" width="30px">
                            {% endif %}
                            Alternativa {{ resposta.alternativa.codigo }}
                        </h5>
                        <div class="card-body">
                            {{ resposta.alternativa.enunciado|safe }}

                            <p>Resposta marcada: {{ resposta.resposta }}</p>
                            <p>Resposta correta: {{ resposta.resposta_correta }}</p>

                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    {% endfor %}


{% endblock %}





{% block javascript %}
{% endblock %}

