{% extends "educacao/index.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block bibliotecas %}
    <link rel="stylesheet" type="text/css" href="{% static 'choosen/chosen_v1.8.7/chosen.min.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'choosen/chosen_v1.8.7/chosen.jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block barra_horizontal %}
    <a href="{% url 'educacao:ver_experimento' experimento.id %}"
       class="btn btn-warning botao-barra-horizontal">Voltar</a>
    <input type="submit" form="form_tag" role="button" class="btn btn-primary botao-barra-horizontal" value="Salvar">
{% endblock %}


{% block corpo_pagina %}
    <div class="card cartao">
        <h5 class="card-header cartao-titulo">
{#            <img src="{{ relatorio.disciplina.icone.url }}">#}
            Essa execução é especial para você?
        </h5>

        <div class="card-body">
            <form method="post"  id="form_tag" enctype="multipart/form-data" class="formulario sem-asterisco">
                {% csrf_token %}
                {{ form_tag.tag|as_crispy_field }}
                {{ form_tag.comentario|as_crispy_field }}
            </form>
        </div>
    </div>

    <div class="card cartao">
        <h5 class="card-header cartao-titulo">
{#            <img src="{{ relatorio.disciplina.icone.url }}">#}
            Parâmetros informados
        </h5>

        <div class="card-body">
            <table class="tabela-lista" id="tabela-execucoes">
                <thead>
                    <tr>
                        <th></th>
                        <th>Sigla</th>
                        <th>Valor mínimo</th>
                        <th>Valor máximo</th>
                        <th>Valor informado</th>
                    </tr>
                </thead>
                <tbody>
                {% for parametro in parametros_informados %}
                    <tr>
                        <td>{{ parametro.parametro.nome }}</td>
                        <td>{{ parametro.parametro.sigla }}</td>
                        <td>{{ parametro.parametro.valor_minimo }}</td>
                        <td>{{ parametro.parametro.valor_maximo }}</td>
                        <td>{{ parametro.valor_informado }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    {% if execucao.arquivo or execucao.arquivo_video %}
    <div class="card cartao">
        <h5 class="card-header cartao-titulo">
{#            <img src="{{ relatorio.disciplina.icone.url }}">#}
            Arquivos
        </h5>

        <div class="card-body">
            <ul class="list-group list-group-horizontal-xl">
                {% if execucao.arquivo %}
                    <li class="list-group-item">
                        <a href="{{ execucao.arquivo.url }}">
                            <span>
                                <img src="{% static 'icones/disquete.svg' %}" width="20px" style="margin-right: 10px">
                            </span>
                            Dados do experimento
                        </a>
                    </li>
                {% endif %}

                {% if execucao.ensaio.codigo_grafico %}
                <li class="list-group-item">
                    <a href="{% url 'educacao:ver_grafico' experimento.id execucao.id %}">
                        <span>
                            <img src="{% static 'icones/grafico.svg' %}" width="20px" style="margin-right: 10px">
                        </span>
                        Ver gráfico do experimento
                    </a>
                </li>
                {% endif %}

                {% if execucao.estado == execucao.ESTADO_FINALIZADO %}
                {% if execucao.arquivo_video %}
                <li class="list-group-item">
                        <a href="{{ execucao.arquivo_video.url }}">
                            <span>
                                <img src="{% static 'icones/youtube.svg' %}" width="20px" style="margin-right: 10px">
                            </span>
                            Vídeo do experimento
                        </a>
                </li>
                {% endif %}
                {% endif %}

                {% if execucao.arquivo %}
                    <li class="list-group-item">
                        <a href="{% url 'educacao:ver_codigo_execucao' experimento.id execucao.id %}">
                            <span>
                                <img src="{% static 'icones/codigo2.svg' %}" width="20px" style="margin-right: 10px">
                            </span>
                            Código do experimento
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}



{% endblock %}




{% block javascript %}
{% endblock %}

