{% extends "educacao/index.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block bibliotecas %}
    <link rel="stylesheet" type="text/css" href="{% static 'choosen/chosen_v1.8.7/chosen.min.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'choosen/chosen_v1.8.7/chosen.jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <style type="text/css" media="screen">
    #editor {
        position: relative;
        height: 600px;
        top: 200px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    </style>

    <script src="https://pagecdn.io/lib/ace/1.4.12/ace.js" crossorigin="anonymous" integrity="sha256-Q9hnBpgBFstzZOr+OKFOWZWfcF5nFXO8Qz48Nmndo6U=" ></script>
{% endblock %}


{% block barra_horizontal %}
    <a href="{% url 'educacao:ver_experimento' experimento.id %}"
       class="btn btn-warning botao-barra-horizontal">Voltar</a>
{% endblock %}


{% block corpo_pagina %}
    <h2>Código do experimento:</h2>
    <div id="editor">{{ execucao.codigo|safe }}</div>
{% endblock %}


{% block javascript %}
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.session.setMode("ace/mode/python");
    editor.setOptions({
        fontSize: "14pt",
    });
{% endblock %}

