{% extends "almoxarifado/index.html" %}
{% load staticfiles %}

{% block barra_horizontal %}
    {#    <li>#}
    {#        <a class="btn btn-secondary botao-barra-horizontal" href="#">#}
    {#            <span><img src="{% static 'icones/novo.svg'%}" width="20px"></span>Criar#}
    {#        </a>#}
    {#    </li>#}
    {##}
    {#    <li>#}
    {#        <a class="btn btn-secondary botao-barra-horizontal" href="#">#}
    {#            <span><img src="{% static 'icones/apagar.svg'%}" width="20px"></span>Remover#}
    {#        </a>#}
    {#    </li>#}
{% endblock %}


{% block barra_avisos_verde %}
    {% if fabricante_criado_com_sucesso %}
        <p>O fabricante {{ novo_fabricante }} foi criado com sucesso!</p>
    {% endif %}
    {% if modelo_criado_com_sucesso %}
        <p>O modelo {{ novo_modelo }} ({{ novo_modelo.fabricante.nome }}) foi criado com sucesso!</p>
    {% endif %}
{% endblock %}


{% block corpo_pagina %}
    <div class="row">
        <div class="col-lg-12">

            <div class="card cartao">
                <h5 class="card-header cartao-titulo"><img src="{% static 'icones/categoria.svg' %}">
                    Tipos de materiais
                </h5>
                <div class="card-body">
                    {% if equipamentos.count == 0 %}
                        <p class="card-text">
                            Não há nenhum tipo de material cadastrado.
                            Use os botões abaixo para cadastrar um tipo de material.
                        </p>
                    {% elif equipamentos.count == 1 %}
                        <p class="card-text">
                            Existe 1 tipo de material cadastrado
                        </p>
                    {% else %}
                        <p class="card-text">
                            Existem {{ equipamentos.count }} tipos de materiais cadastrados
                        </p>
                    {% endif %}

                    {% if equipamentos.count > 0 %}
                        {% with fabricante=equipamentos.last %}
                            <p class="card-text">
                                Último tipo de material cadastrado: <b>{{ equipamentos.nome }}</b>
                            </p>
                        {% endwith %}
                    {% endif %}

                    <p class="card-title">
                        <a href="{% url 'almoxarifado:criar_tipo_item' %}"
                           class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/novo.svg' %}" width="20px">Criar
                        </a>
                        <a href="{% url 'almoxarifado:ver_fabricantes' %}"
                           class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/lupa.svg' %}" width="20px">Ver
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">

            <div class="card cartao">
                <h5 class="card-header cartao-titulo"><span><img src="{% static 'icones/fabricante.svg' %}"></span>Fabricantes
                </h5>
                <div class="card-body">
                    {% if fabricantes.count == 0 %}
                        <p class="card-text">Não há nenhum fabricante cadastrado. Use os botões abaixo para cadastrar um
                            fabricante.</p>
                    {% elif fabricantes.count == 1 %}
                        <p class="card-text">Existe 1 fabricante cadastrado</p>
                    {% else %}
                        <p class="card-text">Existem {{ fabricantes.count }} fabricantes de equipamentos cadastrados</p>
                    {% endif %}

                    {% if fabricantes.count > 0 %}
                        {% with fabricante=fabricantes.last %}
                            <p class="card-text">Último fabricante cadastrado: <b>{{ fabricante.nome }}</b></p>
                        {% endwith %}
                    {% endif %}

                    <p class="card-title">
                        <a href="{% url 'almoxarifado:criar_fabricante' %}"
                           class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/novo.svg' %}" width="20px">Criar
                        </a>
                        <a href="{% url 'almoxarifado:ver_fabricantes' %}"
                           class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/lupa.svg' %}" width="20px">Ver
                        </a>
                    </p>
                </div>
            </div>

            <div class="card cartao">
                <h5 class="card-header cartao-titulo"><span><img src="{% static 'icones/equipamento.svg' %}"></span>Equipamentos
                </h5>
                <div class="card-body">
                    {% if equipamentos.count == 0 %}
                        <p class="card-text">Não há nenhum equipamento cadastrado. Use os botões abaixo para cadastrar
                            um equipamento.</p>
                    {% elif equipamentos.count == 1 %}
                        <p class="card-text">Existe 1 equipamento cadastrado</p>
                    {% else %}
                        <p class="card-text">Existem {{ equipamentos.count }} equipamentos cadastrados</p>
                    {% endif %}

                    {% if equipamentos.count > 0 %}
                        {% with fabricante=equipamentos.last %}
                            <p class="card-text">Último fabricante cadastrado: <b>{{ equipamentos.nome }}</b></p>
                        {% endwith %}
                    {% endif %}

                    <p class="card-title">
                        <a href="{% url 'almoxarifado:criar_fabricante' %}"
                           class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/novo.svg' %}" width="20px">Criar
                        </a>
                        <a href="{% url 'almoxarifado:ver_fabricantes' %}"
                           class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/lupa.svg' %}" width="20px">Ver
                        </a>
                    </p>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="card cartao">
                <h5 class="card-header cartao-titulo">
                    <img src="{% static 'icones/modelo.svg' %}">
                    Modelos de equipamentos
                </h5>
                <div class="card-body">
                    {% if modelos.count == 0 %}
                        <p class="card-text">
                            Não há nenhum modelo de equipamento cadastrado.
                            Use os botões abaixo para cadastrar um modelo de equipamento.
                        </p>
                    {% elif modelos.count == 1 %}
                        <p class="card-text">
                            Existe 1 modelo de equipamento cadastrado
                        </p>
                    {% else %}
                        <p class="card-text">
                            Existem {{ modelos.count }} modelos de equipamentos cadastrados
                        </p>
                    {% endif %}

                    {% if modelos.count > 0 %}
                        {% with modelo=modelos.last %}
                            <p class="card-text">Último modelo cadastrado: <b>{{ modelo.nome }}</b></p>
                        {% endwith %}
                    {% endif %}

                    <p class="card-title">
                        <a href="{% url 'almoxarifado:criar_modelo' %}" class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/novo.svg' %}" width="20px">Criar
                        </a>
                        <a href="{% url 'almoxarifado:ver_modelos' %}" class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/lupa.svg' %}" width="20px">Ver
                        </a>
                    </p>
                </div>
            </div>

            <div class="card cartao">
                <h5 class="card-header cartao-titulo"><img src="{% static 'icones/parafuso.svg' %}">
                    Material de consumo
                </h5>
                <div class="card-body">
                    {% if equipamentos.count == 0 %}
                        <p class="card-text">
                            Não há nenhum material cadastrado. Use os botões abaixo para cadastrar um material.
                        </p>
                    {% elif equipamentos.count == 1 %}
                        <p class="card-text">Existe 1 material cadastrado</p>
                    {% else %}
                        <p class="card-text">Existem {{ equipamentos.count }} materiais cadastrados</p>
                    {% endif %}

                    {% if equipamentos.count > 0 %}
                        {% with fabricante=equipamentos.last %}
                            <p class="card-text">Último fabricante cadastrado: <b>{{ equipamentos.nome }}</b></p>
                        {% endwith %}
                    {% endif %}

                    <p class="card-title">
                        <a href="{% url 'almoxarifado:criar_fabricante' %}"
                           class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/novo.svg' %}" width="20px">Criar
                        </a>
                        <a href="{% url 'almoxarifado:ver_fabricantes' %}"
                           class="btn btn-outline-secondary botao-cartao">
                            <img src="{% static 'icones/lupa.svg' %}" width="20px">Ver
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}




{% block javascript %}
{% endblock %}

