{% extends "almoxarifado/index.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block barra_horizontal %}
{% endblock %}


{% block bibliotecas %}
    <link rel="stylesheet" type="text/css" href="{% static 'jquery_datatables/1.10.19.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'jquery_datatables/1.10.19.js' %}"></script>
{% endblock %}


{% block corpo_pagina %}
    <div class="row">
        <div class="col-lg-12">

            <div class="card cartao">
                <h5 class="card-header cartao-titulo">
                    <img src="{% static 'icones/fabricante.svg' %}">
                    Fabricantes cadastrados
                </h5>
                <div class="card-body">
                    <table class="tabela-lista" id="tabela-lista-fabricantes">
                        <thead>
                            <tr>
                                <th>Ações</th>
                                <th>Nome</th>
                                <th>Site</th>
                                <th>Criado em</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for fabricante in fabricantes %}
                            <tr>
                                <td>
                                    <a href="{% url 'almoxarifado:editar_fabricante' fabricante.id %}">
                                        <img src="{% static 'icones/editar.svg' %}" alt="Editar">
                                    </a>
{# Sem suporte, ainda!              #}
{#                                    <a href="#">#}
{#                                        <img src="{% static 'icones/apagar.svg' %}" alt="Remover">#}
{#                                    </a>#}
                                </td>
                                <td>{{ fabricante.nome }}</td>
                                <td><a href="{{ fabricante.site }}">{{ fabricante.site }}</a></td>
                                <td>{{ fabricante.data_criacao }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}




{% block javascript %}
$(document).ready( function () {
$('#tabela-lista-fabricantes').DataTable({
        "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Todas"] ],
        "language": {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }
        }
    });
} );


{% endblock %}

