<!DOCTYPE html>
<html lang="pt">

{# Usei essa página como base #}
{# https://bootstrapious.com/p/bootstrap-vertical-navbar #}

{% load staticfiles %}

{# Bootstrap 4.3.1 #}
<script src="{% static "bootstrap/popper.min.js" %}"></script>
<script src="{% static "bootstrap/jquery-3.4.1.min.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
<script src="{% static "bootstrap/bootstrap.min.js" %}"></script>

{# CSS geral #}
<link rel="stylesheet" type="text/css" href="{% static 'css/sentinela.css' %}">
{# CSS específico do módulo de almoxarifado #}
<link rel="stylesheet" type="text/css" href="{% static 'css/almoxarifado.css' %}">

{% block bibliotecas %}
{% endblock %}

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'icones/sentinela_logo.svg' %}" />
    <title>Sentinela</title>
</head>

<body>


<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">

    <a class="navbar-brand horizontal-nav" href="#">
        <img src="{% static 'icones/sentinela_logo.svg' %}" width="40px" class="mr-3 img-thumbnail shadow-sm">
        Sentinela
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% block barra_horizontal %}
            {% endblock %}
        </ul>



    <div class="navbar-text btn-group">
        <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
            {% if usuario.tipo == usuario.TIPO_ALUNO %}
                <img src="{% static 'icones/aluno.svg' %}" width="30px" class="mr-3 rounded-circle img-thumbnail">
            {% elif usuario.tipo == usuario.TIPO_DOCENTE %}
                <img src="{% static 'icones/docente.svg' %}" width="30px" class="mr-3 rounded-circle img-thumbnail">
            {% elif usuario.tipo == usuario.TIPO_TECNICO_LABORATORIO %}
                <img src="{% static 'icones/cientista_homem.svg' %}" width="30px" class="mr-3 rounded-circle img-thumbnail">
            {% elif usuario.tipo == usuario.TIPO_TECNICO_ADMINISTRATIVO %}
                <img src="{% static 'icones/tecnico.svg' %}" width="30px" class="mr-3 rounded-circle img-thumbnail">
            {% else %}
                <img src="{% static 'icones/usuario.svg' %}" width="30px" class="mr-3 rounded-circle img-thumbnail">
            {% endif %}
        </button>

        <div class="dropdown-menu dropdown-menu-right">
            <p class="dropdown-header">{{ usuario.usuario_django.first_name }}</p>
        <div class="dropdown-divider"></div>
{#            <a class="dropdown-item text-dark" href="#">#}
{#                Minha conta#}
{#            </a>#}
            <a class="dropdown-item text-dark" href="#">
                Mudar minha senha
            </a>
            <a class="dropdown-item text-dark" href="{% url 'pagina_sair' %}">
                Sair
            </a>
        </div>
    </div>

    </div>
</nav>

{# Sidebar #}
<div class="vertical-nav bg-light" id="sidebar">

    <p class="text-light font-weight-bold text-uppercase px-3 py-3 small pb-4 mb-0 bg-secondary">Módulos</p>

    <ul class="nav flex-column bg-light mb-0">
{#        {% block sidebar_almoxarifado %}#}
{#        <li class="nav-item">#}
{#            <a href="{% url 'almoxarifado:index' %}" class="nav-link text-dark">#}
{#                <img src="{% static 'icones/almoxarifado.svg' %}" alt="" class="mr-1 img-thumbnail" width="40px">#}
{#                Almoxarifado#}
{#            </a>#}
{#        </li>#}
{#        {% endblock %}#}

{#        <li class="nav-item">#}
{#            <a href="#" class="nav-link text-dark">#}
{#                <img src="{% static 'icones/compras.png' %}" alt="" class="mr-1 img-thumbnail" width="40px"> Compras#}
{#            </a>#}
{#        </li>#}

        <li class="nav-item">
            {% block sidebar_educacao %}
            <a href="{% url 'educacao:index' %}" class="nav-link text-dark">
                <img src="{% static 'icones/livro.svg' %}" alt="" class="mr-1 img-thumbnail" width="40px">
                Educação
            </a>
            {% endblock %}
        </li>

{#        <li class="nav-item">#}
{#            <a href="#" class="nav-link text-dark">#}
{#                <img src="{% static 'icones/horario.svg' %}" alt="" class="mr-1 img-thumbnail" width="40px"> Horário docente#}
{#            </a>#}
{#        </li>#}


        {# Menu Instituição #}
{#        <li class="nav-item">#}
{#            <a href="#" class="nav-link text-dark">#}
{#                <img src="{% static 'icones/instituicao.svg' %}" alt="" class="mr-1 img-thumbnail" width="40px"> Instituição#}
{#            </a>#}
{##}
{#            <ul class="nav flex-column sidebar-subitens sidebar-subitens-instituicao">#}
{#                <li class="nav-item sidebar-subitem">#}
{#                    <a href="#">#}
{#                        <table>#}
{#                            <tr>#}
{#                                <td><img src="{% static 'icones/sala.svg' %}" class="img-thumbnail"></td>#}
{#                                <td>Salas</td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}

        {% block sidebar_lab_remoto %}
        {% if usuario.tipo == usuario.TIPO_DOCENTE %}
        <li class="nav-item">
            <a href="{% url 'lab_remoto:index' %}" class="nav-link text-dark">
                <img src="{% static 'icones/lab_remoto.svg' %}" alt="" class="mr-1 img-thumbnail" width="40px">
                Lab. remoto
            </a>
        </li>
        {% endif %}
        {% endblock %}



    </ul>
</div>


{% if mostrar_barra_aviso_verde %}
<div class="alert alert-dismissible fade show py-2 barra-avisos-verde" role="alert">
    {% block barra_avisos_verde %}
    {% endblock %}

    {% if alteracoes_sucesso %}
        <p>Alterações realizadas com sucesso</p>
    {% endif %}

    {% if criado_com_sucesso %}
        <p>Foi criado com sucesso</p>
    {% endif %}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if mostrar_barra_aviso_vermelha %}
<div class="alert alert-dismissible fade show py-2 barra-avisos-vermelha" role="alert">
    {% block barra_avisos_vermelha %}
    {% endblock %}

    {% if informacoes_invalidas %}
        <p>Informações inválidas. Não foi salvo.</p>
    {% endif %}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


<div class="page-content p-5" id="content">

    {% block corpo_pagina %}
    {% endblock %}
</div>



<script type="text/javascript">
    {% block javascript %}
    {% endblock %}
</script>

</body>

</html>
