{% extends "usuarios/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block formulario %}

<div class="jumbotron">
    <h1 class="display-4">Criar uma conta</h1>

    <p class="lead">Preencha os campos abaixo para criar uma conta.</p>

    <form method="POST">
        {% csrf_token %}
{#        {{ formulario.nome|as_crispy_field }}#}
{#        {{ formulario.matricula|as_crispy_field }}#}
{#        {{ formulario.email|as_crispy_field }}#}
{#        {{ formulario.senha|as_crispy_field }}#}
        {{ formulario|crispy }}

        <p>Os campos marcados com "*" são obrigatórios.</p>

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <input type="submit" role="button" class="btn btn-danger" value="Criar conta">
                <a href="{% url "pagina_entrar" %}" class="btn btn-primary" role="button">Voltar</a>
            </div>
        </div>
    </form>
</div>



{% endblock %}

{% block javascript %}
    <script>
      $(function(){
        $('form.uniForm').uniform();
      });
    </script>
{% endblock %}
