{% extends "usuarios/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block formulario %}

    <div class="card text-center" style="width: 300px; margin:0 auto;">
        <div class="card-title bg-secondary">
            <h3 class="py-3" style="color: white">Sistema Sentinela</h3>
        </div>

        <div class="card-body">
            <img class="mb-4" src="{% static 'icones/logo_entrada.png' %}" alt="" width="200">
	    {#<img class="mb-4" src="{% static 'icones/sentinela_logo.svg' %}" alt="" width="200">#}
            <form method="POST" class="form-signin">
                {% csrf_token %}
                {{ formulario_entrar|crispy }}
                <div class="form-row">
                    <div class="form-group center col-md-12 mb-0">
                        <input type="submit" role="button" class="btn btn-primary" value="Entrar">
                        <a href="{% url "pagina_criar_conta" %}" class="btn btn btn-danger" role="button">Criar conta</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-footer">
            <img src="{% static 'icones/django-powered.png' %}">
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
         document.getElementById("id_prontuario").focus();
    </script>
{% endblock %}

