{% extends "lab_remoto/index.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block bibliotecas %}
    <link rel="stylesheet" type="text/css" href="{% static 'choosen/chosen_v1.8.7/chosen.min.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'choosen/chosen_v1.8.7/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block barra_horizontal %}
    <li>
        <input type="submit"
               form="formulario_conf_kit"
               role="button"
               class="btn btn-primary botao-barra-horizontal"
               value="Salvar"
               name="apenas_salvar"
        >

        <input type="submit"
               form="formulario_conf_kit"
               role="button"
               class="btn btn-info botao-barra-horizontal"
               value="Salvar e adicionar parâmetro"
               name="salvar_e_criar_novo_parametro"
        >
    </li>

{#    <li>#}
{#        <a href="{% url 'educacao:ver_aula' form.instance.aula.id %}" class="btn btn-warning">Voltar</a>#}
{#    </li>#}
{% endblock %}


{% block corpo_pagina %}
    <div class="card cartao">
        <h5 class="card-header cartao-titulo">
            <img src="{% static 'icones/equipamento.svg' %}">
            Criar Kit Didático
        </h5>
        <div class="card-body">
            <form method="post" id="formulario_conf_kit" enctype="multipart/form-data" class="formulario sem-asterisco">
                {% csrf_token %}
                {{ formulario_confs_kit|crispy }}

                <h5>Parâmetros do kit</h5>
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="form-group form-row" style="background-color: #dddddd; border-radius: 5px">
                        <div class="col-md-4">
                            {{ form.nome|as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{ form.sigla|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{ form.valor|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{ form.unidade|as_crispy_field }}
                        </div>

                        <div class="form-check col-md-1">
                            <a class="btn btn-danger" style="width: 40px; margin-top: 32px" href="{% url 'lab_remoto:remover_parametro' form.instance.id %}" role="button">
                                X
                            </a>
                        </div>

                        <div class="row spacer"></div>

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}




{% block javascript %}
{% endblock %}

